{% extends "bootstrap/base.html" %}
{% block head %}

  <!DOCTYPE html>

  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>No Title</title>
  {% endif %}

{% endblock %}

{% block navbar %}
  <div class="container">
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text noselect"><b>BlogR</b></p>
        </div>
        <ul class="nav navbar-nav">
          <li class="{% if title == 'Home' %} active {% endif %}"><a href="/">Home</a></li>
        </ul>
        {% if current_user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="{% if title == 'My Posts' %} active {% endif %}"><a href="/myposts">My Posts</a></li>
            <li class="{% if title == 'Create' %} active {% endif %}"><a href="/create">Create</a></li>
          </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated == False %}
            <li class="{% if title == 'Login' %} active {% endif %}"><a href="/login">Login</a></li>
            <li class="{% if title == 'Register' %} active {% endif %}"><a href="/register">Register</a></li>
          {% else %}
            <li><a href="/logout">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <body>
    <div class="container">
      {% with msgs = get_flashed_messages() %}
        {% if msgs %}
          {% for msg in msgs %}
            <div class="alert alert-warning">
              {{ msg }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block page_content %}
      {% endblock %}
    </div>
  </body>
{% endblock %}

{% block script %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
