{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div>
    <form class="form-signin" method="POST" action="/create">
      <h2 class="form-signin-heading">Create a Post</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.title) }}
      {{ wtf.form_field(form.content) }}
      <button class="btn btn-lg btn-primary" type="submit">Create</button>
    </form>
  </div>
{% endblock %}
