{% extends "base.html" %}

{% block page_content %}
  <div class="jumbotron">
    <h1> Welcome to BlogR </h1>
    <h2> The Best Blog Site on the Internet </h2>
  </div>
  {% if not posts %}
    <h1>No Recent Posts</h1>
    <button type="button" onclick="location.href='{{ url_for('create') }}'" class="btn btn-primary btn-lg btn-block"> Create a new post now! </button>
  {% else %}
  <div class="page-header">
    <h1>Recent Posts</h1>
  </div>
    {% for post in posts %}
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <h4 class="panel-title"><b> {{ post.title }} </b> by <b> {{ post.author.username }} </b></h4>
        </div>
        <div class="panel-body">
          {{ post.content }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
