{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  
  <div>
    <form class="form-signin" method="POST" action="/login">
      <h2 class="form-signin-heading">Sign In</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      {{ wtf.form_field(form.rememberMe) }}
      <button class="btn btn-lg btn-primary" type="submit">Sign In</button>
    </form>
  </div>
{% endblock %}
