{% extends "base.html" %}

{% block page_content %}
  {% if not posts %}
    <h1>No Posts</h1>
  {% else %}
    {% for post in posts %}
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <div class="btn-group pull-right">
            <button type="button" onclick="location.href='{{ url_for('deletePost', post_id = post.id) }}'" class="btn btn-danger">Delete</button>
          </div>
          <h4 class="panel-title"><b> {{ post.title }} </b></h4>
        </div>
        <div class="panel-body">
          {{ post.content }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
