{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="container">
    <form class="form-signin" method="POST" action="/register">
      <h2 class="form-signin-heading">Register</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
      <button class="btn btn-lg btn-primary" type="submit">Register</button>
    </form>
  </div>


{% endblock %}
